
@media (max-width: 767px) {
    footer .container {
      text-align: center;
    }
    footer .row {
      justify-content: center;
    }
  }
  
 

  
.navbar-toggler {
    background-color: white;
    border-radius: 10px;
    border: none;
  }
  
  .navbar-toggler:hover {
    background-color: #f5f5f5;
  }

  

  
  
  
  
  
  
  .body {
    font-family: 'Montserrat', sans-serif;
  }
  
  /* navbar */
  .navbar-brand {
    color: white!important;
  }
  .nav-link {
    color: white!important;
  }
  .nav-link:hover {
    color: #FCCE21!important;
  }
  .navbar {
    background-color: rgb(37, 12, 91)!important;
  }
  .navbar-nav .active {
    color: #FCCE21!important;
  }
  
  .social-link {
    display: inline-block;
    border: 1px solid rgb(10, 35, 196);
    color: #FCCE21;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10%;
  }
  
  .social-link:hover {
    background-color: white;
    color: rgb(67, 11, 234);
  }
  
  hr {
    color: aliceblue;
  }
  
  .fa-phone {
    color: #ebe2e2;
  }
  
  p {
    color: #ebe2e2;
  }
  
  .text {
    color: #ab91f7;
  }
  
  a:hover {
    color: #FCCE21;
  }
  
  /* hero section */
  .hero {
    aspect-ratio: 16 / 9;
    background-image: url('assets/img/portfolio/header-bg.jpg');
    background-size: cover;
  }
  
  /* cards zoomhover */
  .card {
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-in-out;
    transform-origin: center center;
  }
  
  .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    z-index: 1;
  }
  
  /* contact section */

  .contact-section {
    background-color: rgb(37, 12, 91);
    color: white;
    padding: 50px 20px;
  }
  



